@charset "UTF-8";

/* Common */
body {
	margin: 0;
	padding: 0;
}

.content-admin {
	width: 100%;
	height: 100vh;
	display: flex;
	background-color: #fcfcfc;
}

.content {
	margin: auto;
	width: 80%;
	height: 80vh;
	background-color: #fcfcfc;
}

/* Overview */
.content span.total {
	padding: 0 10px;
	font-size: 1.5rem;
	border: 1px solid #000;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #000;
	color: #fff;
}

/*member*/
.Overview-Member {
	position: relative;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
	background-color: #fcfcfc;
}

.Overview-Member .group {
	width: 90%;
	height: 70%;
	text-align: center;
	margin: 30px;
}

.Overview-Member .group tbody {
	width: 100%;
}

.Overview-Member .group th {
	width: 40%;
	background-color: #000;
	color: #fcfcfc;
	border-radius: 7px;
}

.Overview-Member .group td {
	width: 60%;
	border: 2px solid #000;
	border-radius: 7px;
}

/*ticket*/
.Overview-Ticket {
	position: relative;
	top: -50%;
	left: 50%;
	width: 50%;
	height: 50%;
	background-color: #fcfcfc;
}

/*spot*/
.Overview-Spot {
	position: relative;
	top: -50%;
	left: 0;
	width: 50%;
	height: 50%;
	background-color: #fcfcfc;
}

.Overview-Spot .spotOverview {
	display: flex;
	overflow-x: auto;
}

.Overview-Spot .spotOverview .spotOverviewContent {
	display: inline-block;
	margin: 10px;
	border: 3px solid #000;
	border-radius: 20px;
}

.Overview-Spot .spotOverview .spotOverviewContent img {
	width: 20vw;
	height: 30vh;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.Overview-Spot .spotOverview .spotOverviewContent p {
	margin: 0;
	text-align: center;
	font-size: 1.5rem;
}

/*review*/
.Overview-Review {
	position: relative;
	top: -100%;
	left: 50%;
	width: 50%;
	height: 50%;
	background-color: #fcfcfc;
}