@charset "UTF-8";

.content-admin{
	width: 100%;
	height: 100vh;
	
	background: #fff;
}

.admin-overview{
	position: absolute;
	top: 83px;
	left: 200px;
}

.temp-image{
	position: relative;
	
	width: 2000px;
	height: 100vh;
	
	background-image: url("../img/admin/temp.jpg");
}
