@charset "UTF-8";

/* Common */
body {
	margin: 0;
	padding: 0;
}

.content-admin {
	width: 100%;
	height: 100vh;
	display: flex;
	background: #fff;
}

.content {
	width: 100%;
	height: 100vh;
	background: #fcfcfc;
}

/****************************adMem area****************************/
.listTable {
	position: relative;
	top: 60px;
	width: 80%;
	margin: auto;
	border-collapse: collapse;
}

.listTable th {
	border: 1px solid #000;
}

.listTable .listNav td {
	height: 50px;
}

.listTable .listNav .listNavContainer {
	display: flex;
	justify-content: space-between;
}

.listTable .listNav td a input {
	width: 100px;
	height: 30px;
	margin: 5px;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

.listTable .listNav td a input:hover {
	border: 1px solid #fff;
	box-sizing: border-box;
}

.listTable .listTitle td {
	padding: 10px;
	text-align: center;
	font-size: 1.5rem;
	border-bottom: 5px double #000;
}

.listTable .memberList td {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #fff;
}

.listTable .memberList td a {
	text-decoration: none;
	color: #000;
}

/***********************************adMemDetail area*****************************************/
.adDetail-main {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.adDetail-main th {
	color: #fcfcfc;
	background-color: #c0c0c0;
}

.adDetail-main td {
	text-align: center;
	border-bottom: 2px solid #c0c0c0;
}

.adDetail-sub {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 500px;
	text-align: center;
}

.adDetail-sub th {
	color: #fcfcfc;
	background-color: #c0c0c0;
}

.adDetail-sub td {
	text-align: center;
	border-bottom: 2px solid #c0c0c0;
}

.adDetail-btn {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.adDetail-btn button {
	border-radius: 3px;
	background-color: #0c0c0c;
	color: #fcfcfc;
}

/*****************************adMemUpdate area***************************************/
.content-admemUp {
	width: 70%;
	text-align: center;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border: 2px solid #c0c0c0;
	border-radius: 3px;
}

h2{
	border: 2px solid #c0c0c0;
	border-radius: 3px;
	background-color: #c0c0c0;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fcfcfc;
}

.adUpdate-main {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.adUpdate-main th {
	color: #fcfcfc;
	background-color: #c0c0c0;
}

.adUpdate-main td {
	text-align: center;
	border-bottom: 2px solid #c0c0c0;
}

.adUpdate-main input {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	text-align: center;
	color: #c0c0c0;
}

.adUpdate-sub {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 500px;
	text-align: center;
}

.adUpdate-sub th {
	color: #fcfcfc;
	background-color: #c0c0c0;
}

.adUpdate-sub td {
	text-align: center;
	border-bottom: 2px solid #c0c0c0;
}

.adUpdate-sub input {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	text-align: center;
	color: #c0c0c0;
}

.admem-btnarea input {
	border-radius: 3px;
	background-color: #0c0c0c;
	color: #fcfcfc;
}

.admem-btnarea-upendbtn[type="reset"], .admem-btnarea-upendbtn[type="button"]
	{
	width: 70px;
	height: 25px;
	margin-top: 10px;
	border: 3px outset #000;
	border-radius: 3px;
	background: #000;
	color: #fff
}