@charset "UTF-8";

/* Common */
body {
	margin: 0;
	padding: 0;
}

.content-admin {
	width: 100%;
	height: 100vh;
	display: flex;
	background: #fff;
}

.content {
	width: 100%;
	height: 100vh;
	background: #fcfcfc;
	text-align: center;
}

h1{
	border: 3px solid #0c0c0c;
	border-radius: 3px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #0c0c0c;
	color: #fcfcfc;
}

/****************************adMem area****************************/
.content-admem {
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.admem-table-total {
	margin-top: 20px;
	margin-left: auto;
	border-bottom: 5px double #0c0c0c;
}

.admem-table-total th {
	width: 40%;
	margin: 0;
}

.admem-table-total td {
	text-align: center;
	width: 60%;
	margin: 0;
}

.admem-listtitle {
	width: 100%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.admem-listtitle th {
	border-bottom: 5px double #0c0c0c;
}

.admem-listtitle td {
	text-align: center;
	margin: 0;
	border-bottom: 2px inset #c0c0c0;
}

.admem-dtbtn {
	width: 100%;
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	border-right-width: 10px;
	background: 0;
	font-weight: bold;
	font-size: medium;
	color: #c0c0c0;
}

.adsearch-form {
	position: relative;
	top: 60px;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}

.admem-search {
	border: 2px solid #0c0c0c;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background-color: #0c0c0c;
	border-radius: 3px;
}

.admem-search select {
	border: 0;
	float: left;
	width: 80px;
	margin-top: 3px;
	background-color: #0c0c0c;
	color: #fcfcfc;
}

.admem-search input {
	border: 0;
	float: left;
	width: 200px;
	margin-top: 2px;
}

.admem-search button {
	border: 0;
	background-color: #0c0c0c;
	color: #fcfcfc;
}

/***********************************adMemDetail area*****************************************/
.adDetail-main {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.adDetail-main th {
	color: #fcfcfc;
	background-color: #c0c0c0;
}

.adDetail-main td {
	text-align: center;
	border-bottom: 2px solid #c0c0c0;
}

.adDetail-sub {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 500px;
	text-align: center;
}

.adDetail-sub th {
	color: #fcfcfc;
	background-color: #c0c0c0;
}

.adDetail-sub td {
	text-align: center;
	border-bottom: 2px solid #c0c0c0;
}

.adDetail-btn {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.adDetail-btn button {
	border-radius: 3px;
	background-color: #0c0c0c;
	color: #fcfcfc;
}

/*****************************adMemUpdate area***************************************/
.content-admemUp {
	width: 70%;
	text-align: center;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border: 2px solid #c0c0c0;
	border-radius: 3px;
}

h2{
	border: 2px solid #c0c0c0;
	border-radius: 3px;
	background-color: #c0c0c0;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fcfcfc;
}

.adUpdate-main {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.adUpdate-main th {
	color: #fcfcfc;
	background-color: #c0c0c0;
}

.adUpdate-main td {
	text-align: center;
	border-bottom: 2px solid #c0c0c0;
}

.adUpdate-main input {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	text-align: center;
	color: #c0c0c0;
}

.adUpdate-sub {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 500px;
	text-align: center;
}

.adUpdate-sub th {
	color: #fcfcfc;
	background-color: #c0c0c0;
}

.adUpdate-sub td {
	text-align: center;
	border-bottom: 2px solid #c0c0c0;
}

.adUpdate-sub input {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	text-align: center;
	color: #c0c0c0;
}

.admem-btnarea input {
	border-radius: 3px;
	background-color: #0c0c0c;
	color: #fcfcfc;
}

.admem-btnarea-upendbtn[type="reset"], .admem-btnarea-upendbtn[type="button"]
	{
	width: 70px;
	height: 25px;
	margin-top: 10px;
	border: 3px outset #000;
	border-radius: 3px;
	background: #000;
	color: #fff
}