@charset "UTF-8";

/* Common */
body {
	margin: 0;
	padding: 0;
}

.content-admin {
	width: 100%;
	height: 100vh;
	display: flex;
	background-color: #fff;
}

.content {
	width: 100%;
	height: 100vh;
	background-color: #f2f2f2;
}

/* Spot Reg Form */

table {
	width: 70%;
	height: 100vh;
	
	margin-left: auto;
	margin-right: auto;
	
	border-collapse: collapse;
	
	background-color: #fff;
}

table thead th h1{
	margin: 0;
	padding: 1rem;
	
	font-size: 5rem;
	
	border-bottom: 5px double #000;
}

table tbody td.regTitle{
	width: 10%;
	
	text-align: center;
	
	font-size: 1.5rem;
}

table tbody td.regContent{
	width: 40%;
	
	border-right: 1px solid #000;
}

table tbody td.regContent .regInput{
	height: 1.5rem;
	line-height: 1.5rem;
	
	border-style: none;
	border-bottom: 3px solid #000;
	
	font-size: 1.5rem;
}

table tbody td.regContent #s_code{
	border-style: none;
}

table tbody td.regContent .btnKakaoApi{
	width: 100px;
	height: 50px;
	
	margin-bottom: 10px;
	
	border-style: none;
	border-radius: 5px;
	
	font-size: 1.2rem;
	
	background-color: #000;
	color: #fff;
}

table tbody td.regContent .btnKakaoApi:hover{
	background-color: #6666ff
}

table tbody td.regContent input:focus{
	outline: none;
}

table tbody td.regImage{
	width: 50%;
}

table tfoot tr{
	border-top: 5px double #000;
}

table tfoot td.regSubmit{
	text-align: center;
}

table tfoot td.regSubmit input{
	width: 100px;
	height: 50px;
	
	margin: 5px;
	padding: 5px;
	
	border-style: none;
	border-radius: 5px;
	
	font-size: 1.5rem;
	
	background-color: #000;
	color: #fff;
	
	cursor: pointer;
}

table tfoot td.regSubmit input:hover{
	background-color: #ff6666;
}