@charset "UTF-8";

/* Common */
body {
	margin: 0;
	padding: 0;
}

.content-admin {
	width: 100%;
	height: 100vh;
	display: flex;
	background-color: #fff;
}

.content {
	width: 100%;
	height: 100vh;
	background-color: #f2f2f2;
}

/* Spot List */
.listTable {
	position: relative;
	top: 60px;
	width: 80%;
	margin: auto;
	border-collapse: collapse;
}

.listTable th {
	border: 1px solid #000;
}

.listTable .listRegMove td {
	height: 50px;
}

.listTable .listRegMove td input{
	width: 100px;
	height: 30px;
	
	margin: 5px;
	padding: 5px;
	
	border: none;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
	
	cursor: pointer;
	
}

.listTable .listRegMove td input:hover{
	border: 1px solid #fff;
	
	box-sizing: border-box;
}

.listTable .listTitle td {
	padding: 10px;
	text-align: center;
	font-size: 30px;
	border-bottom: 5px double #000;
}

.listTable tbody td {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #fff;
}

.listTable .spotListPrint td a {
	color: #000;
	text-decoration: none;
}

.listTable .spotDetail {
	border: none;
	border-radius: 6px;
	background-color: #00FF80;
	color: #000;
	border-radius: 6px;
	cursor: pointer;
}