@charset "UTF-8";

/* Common */

body{
	margin: 0;
	padding: 0;
}

.content-admin{
	width: 100%;
	height: 100vh;
	
	display: flex;
	
	background: #fff;
}

.content{
	width: 100%;
	height: 100vh;
	
	background: #fff;
}

/* Ticket Detail */

.detailTable{
	position: relative;
	top: 60px;
	
	heigth: 100vh;
	
	margin: auto;
	
	border-collapse: collapse;
}

.detailTable th{
	border: 1px solid #000;
}

.detailTable tbody td{
	padding: 10px;
	
	text-align: center;
	
	border: 1px solid #000;
}

.detailTable tbody td.detailTitle{
	width: 10%;
}

.detailTable tbody td.detailContent{
	width: 40%;
}

.detailTable td a{
	color: #000;
	
	text-decoration: none;
}
