@charset "UTF-8";

/******************************** buy area ******************************/
li{
	list-style-type: none;
}
header {
	position: sticky;
	top: 0px;
}

.wrap {
	background-color: white;
}
a{
	text-decoration: none;
	color: black;	
}
.buytitle{	
	margin: 0 auto;
	padding-top: 90px;
}
.buytitle h1{
	text-align: center;
}
.buy_section .buy_cate {
	padding: 0;
	display: flex;
	justify-content: center;
	margin: 45px 0 20px 0;
}
.buy_cate li a{
	padding: 5px 35px;
	color: black;
}
.buy_cate_sub{
	width: 80%;
	margin: 0 auto;
}
.health_cate{
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.swim_cate{
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.climb_cate{
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.cross_cate{
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.buy_cate_sub img {
	width: 300px;
	height: 430px;
	float: left;
	padding-top: 40px;
	margin-right: 20px;
}
.buy_cate_sub img:active {
	position: relative;
	top: 2px;
	bottom: 2px;
	left: 5px;
}


















