@charset "UTF-8";

/******************************** buy area ******************************/
li{
	list-style: none;
}
.buy_section{
	height: 2200px;
	margin-top: 200px;
}
.buy_cate{
	margin-top: 100px;	
	margin-bottom: 100px;	
	display: flex;
	justify-content: center;
}
.buy_cate a{
	color: black;
	padding :0px 30px;
	font-size: 30px;
	text-align: center;
}
.buy_cate_sub{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}
.img{
	width: 300px;
	height: 400px;
	margin: 5px 20px;
}

.health_info div{
	margin-left: 20px;
	font-size: 15px;
	font-weight: bold;
}
.buy_cate_sub img {
	width: 300px;
	height: 430px;
	float: left;
	padding-top: 40px;
	margin-right: 20px;
	cursor: pointer;
}
.buy_cate_sub img:active {
	position: relative;
	top: 2px;
	bottom: 2px;
	left: 5px;
}