@charset "UTF-8";

/******************************** member area ******************************/

header {
	position: sticky;
	top: 0px;
}

.wrap {
	background-color: #40BAD5;
}

.content-member {
	height: 2000px;
}

.signForm {
	position: absolute;
	width: 25%;
	padding-bottom: 3%;
	padding-top: 0.5%;
	background-color: #FFFFFF;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	box-shadow: 0px 0px 15px #adadad;
}

 section{
	height: 600px;
	background-color: #fff;
}

/* login style */


.login-form {
	max-width: 500px;
	padding: 15px;
	margin: 0 auto;
}

.login-header {
 text-align: center;
 }

.login-form, .login-header {
	margin-top: 80px;
	margin-bottom: 30px;
}

.login-form input[type="text"] {
	margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login-form input[type="password"] {
	margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login-form .login-input {
	position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.login-input {
	display: block;
    width: 100%;
    line-height: 1.5;
    color: #555;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.login-btn {
	display: block;
	width: 99%;
	padding: 10px 16px;
	margin: 4px;
	font-size: 18px;
	line-height: 1.5;
	border-radius: 6px;
	color: #fff;
	background-color: black;
	border-color: black;;
}

.search-btn {
	display: block;
	width: 99%;
	padding: 10px 16px;
	margin: 4px;
	font-size: 18px;
	line-height: 1.5;
	border-radius: 6px;
	color: #fff;
	background-color: black;
	border-color: black;
	
	
}

.login-btn {
	display: block;
	width: 100%;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.5;
}

/* join style */
.idcheck-btn {
	display: block;
	width: 99%;
	padding: 10px 16px;
	margin: 4px;
	font-size: 18px;
	line-height: 1.5;
	border-radius: 6px;
	background-color: black;
	border-color: black;
	margin: 2px auto;
	color: #fff;
}

