@charset "UTF-8";

/******************************** myinfo area ******************************/
body {
	margin: 0;
	padding: 0;
}

.wrap {
	background-color: #FFFFFF;
}

li {
	list-style: none;
}

.myPage_title {
	margin-top: 60px;
	height: 400px;
}

.title_img {
	width: 100%;
	height: 400px;
}

.title_contents {
	text-align: center;
	position: relative;
	bottom: 260px;
	font-size: 50px;
	line-height: 1.4;
	font-weight: 600;
	color: white;
}

/******************************** myPage area ******************************/
.content-myPage {
	height: 800px;
	padding: 100px 0 100px 0;
	background-color: #FFFFFF;
}

.myPage-form {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}

/******************************** myPageSide area ******************************/
.myPage-list {
	float: left;
	width: 298px;
	height: 800px;
}

.myPage-list-user {
	width: 298px;
	height: 300px;
	border: 1px solid gray;
	box-sizing: border-box;
}

.user-img {
	width: 298px;
	height: 200px;
	margin: 0 auto;
	text-align:center;
}

.user-img-logo {
	width: 280px;
	height: 200px;
}

.user-name {
	height: 100px;
	text-align: center;
	font-size: 20px;
	line-height: 100px;
}

.myPage-list-contents {
	width: 298px;
	height: 495px;
	margin-top : 5px;
	padding: 20px 20px;
	border: 1px solid gray;
	box-sizing: border-box;
}

.myPage-list-contents ul li {
	border-bottom: 1px solid gray;
}

.myPage-list-contents ul li a {
	display: block;
	margin: 0 auto;
	color: black;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
}

.myPage-list-contents ul li a:visited {
	color: black;
}

.myPage-list-contents ul li a:hover {
	color: white;
	background-color: gray;
}

/******************************** myInfo area ******************************/
.myPage-myInfoUpdate {
	float: right;
	width: 898px;
	height: 800px;
	padding: 30px 30px;
	border: 1px solid gray;
	box-sizing: border-box;
}

.myPage-myInfoUpdate-title {
	margin-bottom: 30px;
	text-align: center;
}

.myPage-myInfoUpdate-contents {
	width: 600px;
	margin: 0 auto;
}

.myInfo-contents {
	width: 600px;
	height: 70px;
	margin-bottom: 30px;
	padding: 0 50px;
	font-size: 20px;
	line-height: 70px;
	border: 1px solid black;
	box-sizing: border-box;
}

.input-box {
	width: 350px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	border: 0px solid black;
	box-sizing: border-box;
}

.myInfo-contents-btn {
	text-align: center;
}

.btn-myInfo {
	width: 300px;
	height: 50px;
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	border: 1px solid black;
	box-sizing: border-box;
	
}

/******************************** myPassword area ******************************/
.myPage-myPwdUpdate {
	float: right;
	width: 898px;
	height: 800px;
	padding: 30px 30px;
	border: 1px solid gray;
	box-sizing: border-box;
}

.myPage-myPwdUpdate-title {
	margin-bottom: 30px;
	text-align: center;
}

.myPage-myPwdUpdate-contents {
	width: 600px;
	margin: 0 auto;
}

.myPwd-contents {
	width: 600px;
	height: 50px;
	margin-bottom: 30px;
	padding: 0 100px;
	font-size: 20px;
	line-height: 50px;
	border: 1px solid black;
	box-sizing: border-box;
}

.contents-prePwdCheck {
	display: none;
	margin-bottom: 30px;
}

.contents-updatePwdCheck {
	display: none;
	margin-bottom: 30px;
}

.myPwd-contents-btn {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.btn-myPwd {
	width: 300px;
	height: 50px;
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	border: 1px solid black;
	box-sizing: border-box;
}

/******************************** myClass area ******************************/
.myPage-myClass {
	float: right;
	width: 898px;
	height: 800px;
	border: 1px solid gray;
	box-sizing: border-box;
}

.myPage-myClass- {
	width: 100%;
	height: 600px;
	padding: 50px 0 0 0;
}

.myPage-myClass-title {
	margin-bottom: 30px;
	text-align: center;
}

.myPage-myClass-contents {
	dispaly: block;
	width: 700px;
	margin: 0 auto;
}

.myClass-contents {
	width: 700px;
	height: 150px;
	margin-bottom: 30px;
}

.contents-img {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 8px;
	border: 1px solid black;
	box-sizing: border-box;
}

.contents-info {
	float: right;
	width: 540px;
	height: 150px;
}

.contents-info-title {
	float: left;
	width: 540px;
	height: 70px;
	margin-bottom: 10px;
	padding: 0 20px;
	font-size: 16px;
	line-height: 70px;
	border: 1px solid black;
	box-sizing: border-box;
}

.contents-info-item {
	float: left;
	width: 540px;
	height: 70px;
	padding: 0 20px;
	font-size: 16px;
	line-height: 70px;
	border: 1px solid black;
	box-sizing: border-box;
}

.item-month {
	float: left;
	width: 200px;
}

.item-issuedate {
	float: left;
	width: 200px;
}

.myPage-myClass-paging {
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

.myPage-myClass-pageHtml {
	margin: 0 auto;
	color: black;
	text-decoration: none;
	text-align: center;
}

.pageHtml-pno {
	font-size: 25px;
	color: black;
	text-decoration: none;
}

.pageHtml-pno:visited{
	font-size: 25px;
	color: black;
	text-decoration: none;
}

/******************************** myResign area ******************************/
.myPage-myResign {
	float: right;
	width: 898px;
	height: 800px;
	padding: 30px 30px;
	border: 1px solid gray;
	box-sizing: border-box;
}

.myPage-myResign-title {
	margin-bottom: 30px;
	text-align: center;
}

.myPage-myResign-contents-guide {
	display: block;
	width: 600px;
	margin: 0 auto;
}

.myResign-contents-guide {
	width: 600px;
	margin-bottom: 30px;
	padding: 30px 30px;
	font-size: 16px;
	border: 1px solid black;
	box-sizing: border-box;
}

.myPage-myResign-contents {
	display: none;
	width: 600px;
	margin: 0 auto;
}

.myResign-contents {
	width: 600px;
	height: 50px;
	margin-bottom: 30px;
	padding: 0 100px;
	font-size: 20px;
	line-height: 50px;
	border: 1px solid black;
	box-sizing: border-box;
}

.myResign-contents-btn {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.btn-myResign {
	width: 300px;
	height: 50px;
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	border: 1px solid black;
	box-sizing: border-box;
}

.myResign-contents {
	width: 600px;
	height: 50px;
	margin-bottom: 30px;
	padding: 0 100px;
	font-size: 20px;
	line-height: 50px;
	border: 1px solid black;
	box-sizing: border-box;
}

.contents-resignPwdCheck {
	margin-bottom: 30px;
}

.myResign-contents-btn {
	text-align: center;
}

.btn-myResign {
	width: 300px;
	height: 50px;
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	border: 1px solid black;
	box-sizing: border-box;
	
}