@charset "UTF-8";

/******************************** myinfo area ******************************/
header {
	position: sticky;
	top: 0px;
}

.wrap {
	background-color: #FFFFFF;
}

li {
	list-style: none;
}

/******************************** myInfoSide area ******************************/
.content-myPage {
	height: 900px;
	background-color: #FFFFFF;
}

.myPage-form {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding: 100px 0 50px 0;
}

.myPage-list {
	float: left;
	width: 300px;
	height: 100%;
}

.myPage-list-user {
	width: 298px;
	height: 298px;
	margin-bottom: 3px;
	border: 1px solid gray;
}

.myPage-list-contents {
	width: 298px;
	height: 449px;
	padding: 20px 20px;
	border: 1px solid gray;
}

.myPage-list-contents ul li {
	border-bottom: 1px solid gray;
}

.myPage-list-contents ul li a {
	display: block;
	margin: 0 auto;
	color: black;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
}

.myPage-list-contents ul li a:visited {
	color: black;
}

.myPage-list-contents ul li a:hover {
	color: white;
	background-color: gray;
}

/******************************** myInfoUpdate area ******************************/
.myPage-myInfoUpdate {
	float: left;
	width: 898px;
	height: 100%;
	margin: 0 auto;
	padding: 80px 80px;
	border: 1px solid gray;
}

.myPage-myInfoUpdate-title {
	margin-bottom: 20px;
	text-align: center;
}

.myPage-myInfoUpdate-contents {
	width: 600px;
	margin: 0 auto;
}

.myInfo-contents {
	width: 600px;
	height: 50px;
	font-size: 20px;
	padding: 0 100px;
	margin-bottom: 30px;
	line-height: 50px;
	border: 1px solid black;
}

.myInfo-contents-btn {
	text-align: center;
}

.btn-myInfoUpdate {
	width: 300px;
	height: 50px;
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	border: 1px solid black;
	
}

/******************************** myPwdChange area ******************************/
.myPage-myPwdUpdate {
	float: left;
	width: 898px;
	height: 100%;
	padding: 80px 80px;
	border: 1px solid gray;
}

.myPage-myPwdUpdate-title {
	margin-bottom: 20px;
	text-align: center;
}

.myPage-myPwdUpdate-contents {
	width: 600px;
	margin: 0 auto;
}

.myPwd-contents {
	width: 600px;
	height: 50px;
	font-size: 20px;
	padding: 0 100px;
	margin-bottom: 30px;
	line-height: 50px;
	border: 1px solid black;
}

.contents-prePwdCheck {
	display: none;
	margin-bottom: 20px;
}

.contents-updatePwdCheck {
	display: none;
	margin-bottom: 20px;
}

.myPwd-contents-btn {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.btn-myPwd {
	width: 300px;
	height: 50px;
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	border: 1px solid black;
}

/******************************** myClass area ******************************/
.myInfo-class {
	float: left;
	width: 898px;
	height: 100%;
	padding: 50px 100px;
	border: 1px solid gray;
}

.myInfo-class-list {
	height: 150px;
	margin: 0 auto;
}

.list-img {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 10px;
	border: 1px solid gray;
}

.list-info {
	float: left;
	width: 530px;
	height: 100px;
}

.list-info-title {
	float: left;
	width: 530px;
	height: 73px;
	padding: 0 50px;
	margin-bottom: 4px;
	border: 1px solid gray;
	line-height: 73px;
}

.list-info-month {
	float: left;
	width: 530px;
	height: 73px;
	padding: 0 50px;
	border: 1px solid gray;
	line-height: 73px;
}
