@charset "UTF-8";

/******************************** order area ******************************/
body {
	margin: 0;
	padding: 0;
}

.wrap {
	background-color: #FFFFFF;
}

li {
	list-style: none;
}

.myOrder_title {
	margin-top: 60px;
	height: 400px;
}

.title_img {
	width: 100%;
	height: 400px;
}

.title_contents {
	text-align: center;
	position: relative;
	bottom: 260px;
	font-size: 50px;
	line-height: 1.4;
	font-weight: 600;
	color: white;
}

/******************************** orderHome area ******************************/
.content-myOrder {
	height: auto;
	background-color: #FFFFFF;
}

.myOrder-form {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding: 50px 0 50px 0;
}

/******************************** myOrder-header area */
.myOrder-header {
	width: 1200px;
	height: 100px;
	line-height: 100px;
}

.myOrder-header-title {
	float: left;
	font-size: 30px;
}

.myOrder-header-orderseq {
	float: right;
	font-size: 20px;
}

/******************************** myOrder-contents area */
.myOrder-contents {
	width: 1200px;
	height: auto;
}

/******************************** myOrder-contents-title area */
.myOrder-contents-title {
	width: 1200px;
	height: 50px;
	margin-bottom: 20px;
	background-color: #cccccc;
}

.contents-title-img {
	float: left;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.contents-title-title {
	float: left;
	width: 500px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
}

.contents-title-term {
	float: left;
	width: 250px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
}

.contents-title-price {
	float: left;
	width: 250px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
}

/******************************** myOrder-contents-orderlist area */
.myOrder-contents-orderlist {
	width: 1200px;
	height: auto;
	margin-bottom: 30px;
}

.myOrder-contents-direct-orderlist {
	width: 1200px;
	height: 200px;
	margin-bottom: 30px;
}

.contents-orderlist-img {
	float: left;
	width: 200px;
	height: 200px;
	margin-bottom: 10px;
	line-height: 200px;
	text-align: center;
}

.contents-orderlist-title {
	float: left;
	width: 500px;
	height: 200px;
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 200px;
	text-align: center;
}

.contents-orderlist-term {
	float: left;
	width: 250px;
	height: 200px;
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 200px;
	text-align: center;
}

.contents-orderlist-price {
	float: left;
	width: 250px;
	height: 200px;
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 200px;
	text-align: center;
}

/******************************** myOrder-contents-user area */
.myOrder-contents-user {
	width: 1200px;
	height: 500px;
}

.contents-user-title {
	width: 1200px;
	height: 100px;
	font-size: 30px;
	line-height: 100px;
}

.contents-user-info {
	width: 1200px;
	height: 300px;
}

.user-info {
	float: left;
	width: 600px;
	hight: 300px;
}

.info-contents {
	width: 600px;
	height: 100px;
	line-height: 100px;
	font-size: 25px;
	color: gray;
}

.user-payment {
	float: left;
	width: 600px;
	hight: 300px;
}

.payment-title {
	float: left;
	width: 600px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	font-size: 25px;
}

.payment-contents {
	float: left;
	width: 600px;
	height: 150px;
	line-height: 150px;
	text-align: center;
}

.btn-payment {
	width: 300px;
	height: 80px;
	background-color: white;
	font-size: 30px;
}

.btn-payment:hover{
	width: 300px;
	height: 80px;
	color: white;
	background-color: black;
	font-size: 30px;
}

/******************************** orderComplete area ******************************/
.content-orderComplete {
	height: 600px;
	background-color: #FFFFFF;
}

.orderComplete-form {
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	padding: 50px 0 50px 0;
}

.orderComplete-contents {
	width: 1200px;
	height: 200px;
	margin: 0 auto;
	font-size: 30px;
	line-height: 200px;
	text-align: center;
}

.orderComplete-btn {
	width: 1200px;
	height: 300px;
}

.orderComplete-btn-title {
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}

.orderComplete-btn-click {
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}

.btn-myclass {
	width: 300px;
	height: 80px;
	margin: 0 50px 0 0;
	background-color: white;
	font-size: 30px;
}

.btn-myclass:hover{
	width: 300px;
	height: 80px;
	margin: 0 50px 0 0;
	color: white;
	background-color: black;
	font-size: 30px;
}

.btn-main {
	width: 300px;
	height: 80px;
	margin: 0 0 0 50px;
	background-color: white;
	font-size: 30px;
}

.btn-main:hover{
	width: 300px;
	height: 80px;
	margin: 0 0 0 50px;
	color: white;
	background-color: black;
	font-size: 30px;
}