@charset "UTF-8";
/**************************************************************/
body {
	margin: 0;
	padding: 0;
	background-color: white;
}

.review_full {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	margin-bottom: 30px;
}

.review_title {
	position: relative;
	text-align: center;
	width: 100%;
	height: 400px;
	font-size: 20px;
}

.review_title h1 {
	color: white;
	margin: 0;
	color: white;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 170px;
}

select {
	border: 2px solid #5a5a5a;
}

.input_title {
	width: 600px;
	border: 2px solid #5a5a5a;
}

textarea {
	border: 2px solid #5a5a5a;
}

.review_event {
	margin-right: 520px;
	margin-top: 50px;
}

.review_button {
	text-align: right;
}

.review_star {
	display: flex;
	flex-direction: row-reverse;
	font-size: 2.25rem;
	line-height: 2.5rem;
	justify-content: space-around;
	padding: 0 0.2em;
	text-align: center;
	width: 5em;
	margin-bottom: 10px;
}

.review_star input {
	display: none;
}

.review_star label {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2.3px;
	-webkit-text-stroke-color: #2b2a29;
	cursor: pointer;
}

.review_star :checked ~ label {
	-webkit-text-fill-color: gold;
}

.review_star label:hover, .review_star label:hover ~ label {
	-webkit-text-fill-color: #fff58c;
}

.review_container {
	
}