@charset "UTF-8";

/******************************** reviews area ******************************/

body{
	margin: 0;
	padding: 0;
}
.reivewfull{
	position: relative;
	top: 60px;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #E6FFE6;

}
.reviewmain{
	width: 100%;
	height: 130px;
}

.board_name{
	text-align: center;
}

.board_name h2{
	margin: 0;
}

.review_menu{
	display:flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.review_menu button{
	margin: 20px;
}

.menu_h{
	width:70px;
    height:30px;
    border: 2px solid skyblue ;
    background-color: white;
    border-radius:5px;
    font-weight: bold;
 
}
.menu_s{
	width:70px;
    height:30px;
    border: 2px solid skyblue ;
    background-color: white;
    border-radius:5px;
    font-weight: bold;
}
.menu_c{
	width:70px;
    height:30px;
    border: 2px solid skyblue ;
    background-color: white;
    border-radius:5px;
    font-weight: bold;
}
.menu_c2{
	width:70px;
    height:30px;
    border: 2px solid skyblue ;
    background-color: white;
    border-radius:5px;
    font-weight: bold;
}
a{
	text-decoration: none;
	color:#5a5a5a;
}
.table_full{
	background-color: white;
}
.low{
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	background-color: #E6FFE6;
}
 
.column_number{
	width: 120px; 
}
.column_title{
	width: 240px; 
}
.column_id{
	width: 120px; 
}
.column_day{
	width: 120px; 
}
.column_score{
	width: 120px; 
}

.pageing_menu{
	margin-top: 10px;
	border: 3px solid solidblue;
	width: 150px;
	height: 50px;
	margin-left: 750px;
}

.td_list td{
	text-align: center;
	border: 1px solid grey ;
}
.table_review{
	border-collapse: collapse;
	font-size: 0.9em;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	text-align: center;
	border:2px solid #ffebb5;
	background-color: white;
}
.table_review thead tr{
	background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    text-align: center;
}
.table_review th,
.table_review td{
	padding:12px 15px;
}
.rvpaging{
	width: 200px;
	margin: 0px auto;
	opacity:0.8;
	text-align: center;
}
.rvpaging .pno{
	background-color: #efefef;
	margin: 3px;
	border: 1px solid #6c6c6c;
	border-radius: 3px;
	line-height: 1.5;
	font-size: 15px;
	height: 20px;
}
.rvpaging>a{
	text-decoration: none;
}	
.rvpaging>a:visited{
	color:#575757;
}


