@charset "UTF-8";

/******************************** reviews area ******************************/
body {
	margin: 0;
	padding: 0;
	background-color: white;
}

.reivewfull {
	position: relative;
	top: 60px;
	left: 0;
	width: 100%;
	height: auto;
	background-color: white;
}

.reviewmain {
	width: 100%;
	height: 130px;
}

.board_name {
	position: relative;
	text-align: center;
	width: 100%;
	height: 400px;
	font-size: 20px;
}

.board_name h1 {
	font-size: 60px;
	margin: 0;
	color: white;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 170px;
}

.review_menu {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.review_menu button {
	margin: 20px;
}

.menu {
	width: 150px;
	height: 40px;
	border: 2px solid skyblue;
	border-radius: 5px;
	font-weight: bold;
}

.menu a {
	color: white;
}

a {
	text-decoration: none;
	color: #5a5a5a;
}

.table_full {
	background-color: white;
}

.low {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	background-color: white;
}

.column_number {
	width: 120px;
}

.column_title {
	width: 240px;
}

.column_id {
	width: 120px;
}

.column_day {
	width: 120px;
}

.column_score {
	width: 120px;
}

.pageing_menu {
	margin-top: 10px;
	border: 3px solid solidblue;
	width: 150px;
	height: 50px;
	position: relative;
}

.td_list td {
	text-align: center;
	border: 1px solid grey;
	background-color: #dcdcdc;
}

.td_list td span {
	color: #FFD228;
}

.table_review {
	border-collapse: collapse;
	font-size: 0.9em;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	text-align: center;
	border: 2px solid #ffebb5;
	background-color: white;
}

.table_review thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
	text-align: center;
}

.table_review th, .table_review td {
	padding: 12px 15px;
}

.rvpaging {
	width: 200px;
	margin: 0px auto;
	opacity: 0.8;
	text-align: center;
}

.rvpaging .pno {
	background-color: #efefef;
	margin: 3px;
	border: 1px solid #6c6c6c;
	border-radius: 3px;
	line-height: 1.5;
	font-size: 15px;
	height: 20px;
}

.rvpaging>a {
	text-decoration: none;
}

.rvpaging>a:visited {
	color: #575757;
}

.pageing_menu {
	border: 1px solid;
	border-radius: 5px;
	float: right;
}

.pageing_menu a {
	color: white;
}

.button_class {
	width: 959px;
	margin: 0 auto;
}

.footer_class {
	margin-top: 150px;
}