@charset "UTF-8";

/* 관리자 사이드바 */
.adSidebar{
	width: 200px;
	height: 100vh;
	
	background: #4d4dff;
}

.adSidebar ul{

}

.adSidebar ul li{
	list-style: none;
}

.adSidebar ul li.active{
	background: #fff;
}

.adSidebar ul li a{
	height: 60px;
	
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.adSidebar ul li.active a{
	color: #000;
}

.adSidebar ul li a .admin-icon{
	padding-left: 15px;
	padding-right: 15px;
}

.adSidebar ul li a .admin-icon ion-icon{
	font-size: 30px;
}

.adSidebar ul li a .admin-title{
	font-size: 30px;
}
/* 관리자 사이드바 반응형 버튼 */
.toggle{
	width: 60px;
	height: 60px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	background: #4d4dff;
}

.toggle ion-icon{
	color: #fff;
	font-size: 30px;
	
	cursor: pointer;
}

.toggle ion-icon.open,
.toggle.active ion-icon.close{
	display: block;
}

.toggle ion-icon.close,
.toggle.active ion-icon.open{
	display: none;
} 