@charset "UTF-8";

.footer_container {
	position: relative;
	top: 0;
	left: 0;
	background-color: #000;
	color: #fff;
}

.footer_container * {
	margin: 0;
	padding: 10px;
	text-align: center;
}

.footer_container h3 {
	font-size: 50px;
}

.footer_container .social ion-icon {
	font-size: 2em;
}

@media screen and (max-width: 950px) {
	.footer_container {
		position: relative;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		background-color: #000;
		color: #fff;
	}
}