@charset "UTF-8";

/******************************** footer area ******************************/

.footer {
	height: 300px;
	background-color: #D7E9F7;
	border: 1px solid red;
	box-sizing: border-box;
}