@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

/******************************** header area ******************************/

.header {
	height: 200px;
	background-color: beige;
}

.header-top {
	height: 100px;
	margin: 0 auto;
	border: 1px solid red;
	box-sizing: border-box;
}

.header-bottom {
	height: 100px;
	background-color: orange;
	border: 1px solid red;
	box-sizing: border-box;
}