@charset "UTF-8";

/* Home */

body {
	margin: 0;
	padding: 0;
	
	background-color: #000;
}

.content_main {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}

.content_main video {
	width: 100%;
	background-size: cover;
}

/* Responsive Home */
@media screen and (max-width: 1450px) {
	.content_main {
		position: relative;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		z-index: 0;
	}
}

@media screen and (max-width: 950px) {
	.content_main {
		position: relative;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		z-index: 0;
	}
}