@charset "UTF-8";

/******************************** home area ******************************/

header {
	position: sticky;
	top: 0px;
}


.content-home {
	height: auto;
	border: 1px solid red;
	box-sizing: border-box;
	background-color: #000;
}



video{
	background-size: cover;
	width: 100%;
}
