@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	height: 100vh;
	text-align: center;
	background-color: #000;
}

.content {
	position: relative;
	top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content a {
	height: 360px;
	text-decoration: none;
	color: #fff;
}

.content a h1 {
	font-family: 'Pacifico', cursive;
	font-size: 7rem;
	color: #fff;
}

.content a h1:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 50%;
	width: 0;
	height: 5px;
	background-color: #fff;
	transition: all 1s;
}

.content a h1:before {
	content: "";
	position: absolute;
	right: 50%;
	bottom: 50%;
	width: 0;
	height: 5px;
	background-color: #fff;
	transition: all 1s;
}

.content a h1:hover:after {
	width: 18%;
}

.content a h1:hover:before {
	width: 18%;
}

.content p {
	margin: 0;
	font-size: 2rem;
	color: #fff;
}

.content .time {
	margin: 10px;
	display: flex;
}

.content .time div {
	position: relative;
	margin: 0 10px;
	-webkit-box-reflect: below 0 linear-gradient(transparent, #0008);
}

.content .time div span {
	position: relative;
	display: block;
	width: 200px;
	height: 100px;
	background-color: #fff;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6rem;
	border-bottom: 1px solid #000;
}

.content .time div:nth-child(2) span {
	background-color: #3366ff;
}

.content .time div:last-child span {
	background-color: #ff0066;
}

.content .time div span:nth-child(2) {
	height: 50px;
	font-size: 2rem;
	opacity: 0.8;
}